@media (hover: hover) {
    .menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
        --tw-bg-opacity: 1;
        background-color: purple;
        --tw-text-opacity: 1;
        color: white;
    }
}
